*{
  transition: 1s;
}


/* styling the app*/
.app {
  display:grid;
  place-items: center;
  background: #dadbd3;
  height: 100vh;
  overflow-y: auto;
}

.app__body {
  display: flex;
  border-radius: 10px;
  background-color: #ededed;
  height: 90vh;
  width: 80vw;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}





/* styling the scroll bar */
::-webkit-scrollbar{
  width: 10px;
  color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track{
  background-color:rgb(87, 87, 87);
  margin: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  transition: 0.5;
  background-color:rgb(194, 194, 194);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  transition: 1s;
  background-color:rgba(255, 255, 255, 0.624);
  border-radius: 10px;
}
